/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 0.063em; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



/* All of the setup and non media query CSS */


@font-face {
  font-family: 'SortsMill';
  src: url(../fonts/SortsMillGoudy-Regular.ttf) format('truetype');
    font-display: swap;
}

html {
    font: normal 100% 'font name', serif; /* Check this line and if it's necessary */
    height: 100%;
}

body {
    min-height: 100vh;
    height: 100%;
    
    font-family: 'FontName', sans-serif;
    font-size: 100%;
    color: #000;
    line-height: 1.625; /* 26px */
}

/* Headings */

h1 {
    font-family: 'SortsMill', serif;
    font-size: 7vw;
    color: #3a5c69;
    text-align: center;
    margin-top: 2em;
}


/* General Styling */


img {
    max-width: 100%;
}


/* Flexbox elements */

main {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
}

/* Main */

main {
    height: 100vh;
    width: 50%;
    margin: 0 auto;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.commerce {
    width: 50%;
    margin-top: 2em;
}



/**** Mobile Media Queries ****/




/*** Up to 880px ***/
@media only screen and (max-width: 55em) {
  
    main {
    width: 70%;
}
    
    h1 {
        font-size: 10vw;
    }
 
}


/************ Change Format ************/

/*** Up to 560px ***/
@media only screen and (max-width: 35em) {
  
    main {
    width: 90%;
}    
    
    h1 {
        font-size: 14vw;
    }
 
}